.row
  .panel.panel-default
    .panel-heading.review-heading
      %p.panel-title= link_to review.author, user_path(review.user)
    .panel-body
      %p= review.content
    .panel-footer
      .row
        .col-xs-9
          - review.rating.times do
            %span.glyphicon.glyphicon-star
          - (5 - review.rating).times do
            %span.glyphicon.glyphicon-star-empty
        - if current_user == review.user
          .col-xs-3
            = link_to 'Delete', review.url_to, method: :delete, class: "btn btn-default btn-xs btn-block pull-right"